 .footer {
     background-color: #B00000;
     color: aliceblue;
 }

 .list-footer li {
     list-style: none;
     margin-bottom: 10px;
     color: white;
 }

 .list-footer li a {
     color: white;
     text-decoration: none;

 }

 .list-footer li a:hover {
     text-decoration: underline;
 }